<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1300</integer>
	<key>capHeight</key>
	<integer>890</integer>
	<key>copyright</key>
	<string>Copyright (c) 2015, Abdullah Arif (abdullah.a@gmail.com), with Reserved Font Name 'Kawkab Mono'. Non-Arabic Portions Copyright (c) 2009, ParaType Ltd. All Rights Reserved.</string>
	<key>descender</key>
	<integer>-650</integer>
	<key>familyName</key>
	<string>Kawkab Mono</string>
	<key>isFixedPitch</key>
	<true/>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2015/11/02 15:21:05</string>
	<key>openTypeNameDesigner</key>
	<string>Abdullah Arif</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://makkuk.com/kawkab-mono</string>
	<key>openTypeNameManufacturer</key>
	<string>Abdullah Arif</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://makkuk.com/</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Kawkab Mono</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-15</integer>
		<integer>0</integer>
		<integer>430</integer>
		<integer>446</integer>
		<integer>600</integer>
		<integer>616</integer>
		<integer>890</integer>
		<integer>906</integer>
		<integer>1300</integer>
		<integer>1316</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-666</integer>
		<integer>-650</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>140</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>100</integer>
		<integer>130</integer>
	</array>
	<key>sampleText</key>
	<string>أَلا كُلُّ شيءٍ ما خَلا اللهُ باطِلُ وكلُّ نعيمٍ لا مَحَالةَ زائِلُ</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>101</integer>
	<key>xHeight</key>
	<integer>430</integer>
</dict>
</plist>
